.NoteBody pre {
  border: 1px solid #CCC;
  padding: 10px;
  background: #FAFAFA;
  margin: 10px 0;
}

.NoteBody blockquote {
  border-left: 5px solid #CCC;
  padding: 10px 10px 10px 20px;
}

.NoteBody blockquote > *:first-child {
  margin-top: 0;
}

.NoteBody blockquote > *:last-child {
  margin-bottom: 0;
}
